data/*
!data/weights.pth
!data/results.csv
!data/corpus.txt
!data/labels.txt
!data/words.txt

src/__pycache__/
src/*.png
src/temp.py
src/preprocessing.ipynb
src/samples/
src/params/
src/buf.py

deslant/